.avatar{
    border-radius:50%;
    max-width:6rem;
    max-height:6rem;
    border:thin solid var(--color-black)
}

.avatar-square {
    border-radius: 0.75rem;
  }

.avatar-xs{
    max-height: 3rem;
    max-width: 3rem;
}
.avatar-s{
    max-height: 4rem;
  max-width: 4rem;
}
.avatar-md{
    max-height: 6rem;
  max-width: 6rem;
}
.avatar-l{
    max-height: 7rem;
    max-width: 7rem;
}