.badge {
    position: relative;
    width: max-content;
  }

  .badge-status{
    border: thin solid var(--color-slate-50);
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 5%;
    height: 1.5rem;
    width: 1.5rem;
  }

.status-badge {
  background: var(--color-red-500);
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: -1.2rem;
  padding: 0.5rem;
  padding-right: 0.5rem;
  padding-right: 2rem;
  position: relative;
}
  .badge-btn {
    background: none;
    border: none;
    color: var(--color-slate-700);
    font-size: 2.5rem;
    position: relative;
  }

  .badge-count {
    align-items: center;
    border: thin solid var(--color-slate-50);
    border-radius: 50%;
    color: var(--color-white);
    display: flex;
    font-size: 1.1rem;
    height: 1.5rem;
    justify-content: center;
    padding: 1.2rem;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(60%, -30%);
    width: 1.5rem;
  }
