/* font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&display=swap");
:root{
    font-family: "Nunito Sans", sans-serif;
    /* All colours  */
    
        /* slate */
     --color-slate-50:#F8FAFC;
     --color-slate-100:#F1F5F9;
     --color-slate-200:#E2E8F0;
     --color-slate-300:#CBD5E1;
     --color-slate-400:#94A3B8;
     --color-slate-500:#64748B;
     --color-slate-600:#475569;
     --color-slate-700:#334155;
     --color-slate-800:#1E293B;
     --color-slate-900:#0F172A;
    
    /* gray */
     --color-gray50: #F9FAFB;
     --color-gray-100:#F3F4F6;
     --color-gray-200:#E5E7EB;
     --color-gray-300:#D1D5DB;
     --color-gray-400:#9CA3AF;
     --color-gray-500:#6B7280;
     --color-gray-600:#4B5563;
     --color-gray-700:#374151;
     --color-gray-800:#1F2937;
     --color-gray-900:#111827;
    
     /* red */
     --color-red-50: #FEF2F2;
     --color-red-100:#FEE2E2;
     --color-red-200:#FECACA;
     --color-red-300:#FCA5A5;
     --color-red-400:#F87171;
     --color-red-500:#EF4444;
     --color-red-600:#DC2626;
     --color-red-700:#B91C1C;
     --color-red-800:#991B1B;
     --color-red-900:#7F1D1D;
    
     /* orange */
     --color-orange-50:#FFF7ED ;
     --color-orange-100:#FFEDD5;
     --color-orange-200:#FED7AA;
     --color-orange-300:#FDBA74;
     --color-orange-400:#FB923C;
     --color-orange-500:#F97316;
     --color-orange-600:#EA580C;
     --color-orange-700:#C2410C;
     --color-orange-800:#9A3412;
     --color-orange-900:#7C2D12;
    
     /* yellow */
     --color-yellow-50: #FEFCE8;
     --color-yellow-100:#FEF9C3;
     --color-yellow-200:#FEF08A;
     --color-yellow-300:#FDE047;
     --color-yellow-400:#FACC15;
     --color-yellow-500:#EAB308;
     --color-yellow-600:#CA8A04;
     --color-yellow-700:#A16207;
     --color-yellow-800:#854D0E;
     --color-yellow-900:#713F12;
     /* lime */
     --color-lime-50:#F7FEE7 ;
     --color-lime-100:#ECFCCB;
     --color-lime-200:#D9F99D;
     --color-lime-300:#BEF264;
     --color-lime-400:#A3E635;
     --color-lime-500:#84CC16;
     --color-lime-600:#65A30D;
     --color-lime-700:#4D7C0F;
     --color-lime-800:#3F6212;
     --color-lime-900:#365314;
     /* blue */
     --color-blue-50: #EFF6FF;
     --color-blue-100:#DBEAFE;
     --color-blue-200:#BFDBFE;
     --color-blue-300:#BFDBFE;
     --color-blue-400:#60A5FA;
     --color-blue-500:#3B82F6;
     --color-blue-600:#2563EB;
     --color-blue-700:#1D4ED8;
     --color-blue-800:#1E40AF;
     --color-blue-900:#1E3A8A;
     /* violet */
     --color-violet-50: #F5F3FF;
     --color-violet-100:#EDE9FE;
     --color-violet-200:#DDD6FE;
     --color-violet-300:#C4B5FD;
     --color-violet-400:#A78BFA;
     --color-violet-500:#8B5CF6;
     --color-violet-600:#7C3AED;
     --color-violet-700:#6D28D9;
     --color-violet-800:#5B21B6;
     --color-violet-900:#4C1D95;
    
     /* purple */
     --color-purple-50: #FAF5FF;
     --color-purple-100:#F3E8FF;
     --color-purple-200:#E9D5FF;
     --color-purple-300:#D8B4FE;
     --color-purple-400:#C084FC;
     --color-purple-500:#A855F7;
     --color-purple-600:#9333EA;
     --color-purple-700:#7E22CE;
     --color-purple-800:#6B21A8;
     --color-purple-900:#581C87;
    
    
    /* amber */
    --color-amber-50: #FFFBEB;
    --color-amber-100:#FEF3C7;
    --color-amber-200:#FDE68A;
    --color-amber-300:#FCD34D;
    --color-amber-400:#FBBF24;
    --color-amber-500:#F59E0B;
    --color-amber-600:#D97706;
    --color-amber-700:#B45309;
    --color-amber-800:#92400E;
    --color-amber-900:#78350F;
    
    /* cyan */
    --color-cyan-50: #ECFEFF;
    --color-cyan-100:#CFFAFE;
    --color-cyan-200:#A5F3FC;
    --color-cyan-300:#67E8F9;
    --color-cyan-400:#22D3EE;
    --color-cyan-500:#06B6D4;
    --color-cyan-600:#0891B2;
    --color-cyan-700:#0E7490;
    --color-cyan-800:#155E75;
    --color-cyan-900:#164E63;
    
    /* green */
    
    --color-green-50: #F0FDF4;
    --color-green-100:#DCFCE7;
    --color-green-200:#BBF7D0;
    --color-green-300:#86EFAC;
    --color-green-400:#4ADE80;
    --color-green-500:#22C55E;
    --color-green-600:#16A34A;
    --color-green-700:#15803D;
    --color-green-800:#166534;
    --color-green-900:#14532D;
    
     
      
    
      /* white */
      --color-white:white;
    
      /* black */
    --color-black:black;
    }

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
    scroll-behavior: smooth;
}


img{
    object-fit:cover
}


 ol ,ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration:none;
    color: inherit;
  cursor: pointer;
}

button{
    border: none;
    background-color: transparent;
    cursor:pointer;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Modifying media defaults */
picture,
video,
canvas,
iframe,
svg {
  display: block;
  max-width: 100%;
}

/* Remove built-in form typography styles */
input,
button {
  font: inherit;
}
