.overflow-auto{
    overflow: auto;
}

.overflow-hidden{
    overflow: hidden;
}
.overflow-scroll{
    overflow: scroll;
}

.overflow-x-auto{
    overflow-x: auto;
}

.overflow-y-auto{
    overflow-y: auto;
}

.overflow-clip{
    overflow:clip;
}