/* syntax: .text-(color)-(shade) */

.text-white{
    color: var(--color-white);
}

.text-black{
    color: var(--color-black);
}

.text-red{
    color: var(--color-red-600)
}

.text-slate{
    color: var(--color-slate-500)
}

.text-gray{
    color:var(--color-gray-500)
}

.text-orange{
    color:var(--color-orange-600)
}

.text-yellow{
    color: var(--color-yellow-500)

}

.text-lime{
    color:var(--color-lime-500)
}

.text-blue{
    color:var(--color-blue-600)
}

.text-violet{
    color:var(--color-violet-600)
}

.text-purple{
    color:var(--color-purple-600)
}

/* hover class */